extends layout

block body
  mixin piece(data)
    div.col-md-6.col-sm-12.piece
      a(href=data[1])
        image(src="./img/#{data[0]}.jpg")

  mixin audio(data)
    .audioBox
      .row
          .left
            p.left
              =data[0]
              .share
                a(href="##{data[1]}", title="share") __
                
        p.right
          a(href=data[2]) Discuss on Dropbox
      .row
        p
          i=data[3]
      .row
        a(href="#")
          .controlLayer(id=data[1])
            .audio.dim
            .paused.zbs.hidden
            .playBtn.zbs
            .pauseBtn.zbs.hidden
  -
    list = [["magnet", "http://usemagnet.com"], //-https://www.youtube.com/watch?v=vwkm83U0g0o on hover play (or gif)
      ["headtalk", "http://headtalk.io"],
      ["knock", "https://github.com/headtalk/knock"], 
      ["mosaic", "http://techcrunch.com/2013/04/02/mosaic-lets-you-weave-a-single-display-from-multiple-iphones-and-ipads-offers-sdk-for-developers/"], 
      ["swyp", "http://www.fastcodesign.com/1669697/it-exists-mit-creates-tech-for-moving-files-across-devices-with-a-swipe"],
      ["telepathy", "http://alist.github.com/files/Headtalk Pragmatic Annotated Slides.pdf"]]
    
  - audioList = [["4 Hours in Tokyo (clip)","fourhoursintokyoclip","https://www.dropbox.com/s/fsnlc164id5d833/fourhoursintokyo.m4a","I had a few hours to pass through Tokyo NRT to HND airport recently. Here's the recording of my time, and some of the people I met. The full recording is at the Dropbox link."],["Grandma Nelson's Story: To California","gmatocalifornia","https://www.dropbox.com/s/hxwnspp3maww7bf/gmatocalifornia.m4a"],["Grandma Nelson's Story: Willmington 10","gmawillmington10","https://www.dropbox.com/s/rwxfdzhtsmx1yx4/gmawillmington10.m4a"], ["Grandma Nelson's Story: High School","gmahighschool","https://www.dropbox.com/s/tmjej4bhoyticyn/gmahighschool.m4a"]]
    
  .hundeepiece.stardust
    .fixBottom.aurora
    .container.content
      row
        div.col-md-10.col-md-offset-1
          h2.center Alexander Hoekje List
          h3.center My Work
          .pieces
            for index in [[0,1], [2,3], [4,5]]
              row
                for i in index
                  +piece(list[i])
      row
        div.col-md-10.col-md-offset-1         
          h3.center Audio Clips
          for clip in audioList
            +audio(clip)
            
      //- row
      //-   div.col-md-10.col-md-offset-1
      //-     h3.center Photos
      //- row
      //-   div.col-md-10.col-md-offset-1
      //-     h3.center Opinions

      row.navIcons
        .col-xs-4.col-xs-offset-2.col-md-2.col-md-offset-4
          a(href='https://linkedin.com/in/alistim')
            .linkedinBG
        .col-xs-4.col-md-2.col-md-offset-0
          a(href='https://twitter.com/alistmit')    
            .twitterBG      
