extends layout

block body
  mixin piece(data)
    a(href=data[1])
      div.col-md-6.col-sm-12(class=data[3])
        .piece(class=data[0], style=data[2]? "" : "background-image: url(/img/#{data[0]}.jpg);")
          image(src="./img/#{data[0]}.jpg")

  mixin video(data)
    .row(id=data[1])
      .left
        p.left
          =data[0]
          .share
            a(href="##{data[1]}", title="share") __
    .row
      .embed-responsive.embed-responsive-16by9
        iframe.embed-responsive-item(src=data[2])

  mixin audio(data)
    .audioBox(id=data[1])
      .row
          .left
            p.left
              =data[0]
              .share
                a(href="##{data[1]}", title="share") __

        p.right
          a(href=data[2]) Discuss on Dropbox
      .row
        p
          i=data[3]
      .row
        a(href="#")
          .controlLayer
            .audio.dim
            .paused.zbs.hidden
            .playBtn.zbs
            .pauseBtn.zbs.hidden
  -
    list = [["magnet", "http://usemagnet.com", true], //-https://www.youtube.com/watch?v=vwkm83U0g0o on hover play (or gif)
      ["headtalk", "http://headtalk.io", false],
      ["mosaic", "http://techcrunch.com/2013/04/02/mosaic-lets-you-weave-a-single-display-from-multiple-iphones-and-ipads-offers-sdk-for-developers/", true, "col-md-push-6"],
      ["knock", "https://github.com/headtalk/knock", false, "col-md-pull-6"],
      ["swyp", "http://www.fastcodesign.com/1669697/it-exists-mit-creates-tech-for-moving-files-across-devices-with-a-swipe", true],
      ["telepathy", "http://alist.github.com/files/Headtalk Pragmatic Annotated Slides.pdf"], false]

  -
    audioList = [["Plalist (sic) Episode One, WMBR 88.1 Cambridge (clip)","jun1plalistwmbr","https://www.dropbox.com/s/ernaauxtvtst5gi/jun1plalistwmbr.m4a","First episode of my radio show on MIT's WMBR, featuring techno. Aired just a few hours after getting back from Berlin :) The full recording is at the Dropbox link."],
      ["4 Hours in Tokyo (clip)","fourhoursintokyoclip","https://www.dropbox.com/s/fsnlc164id5d833/fourhoursintokyo.m4a","I had a few hours to pass through Tokyo NRT to HND airport recently. Here's the recording of my time, and some of the people I met. The full recording is at the Dropbox link."],
      ["Grandma Nelson's Story: To California","gmatocalifornia","https://www.dropbox.com/s/hxwnspp3maww7bf/gmatocalifornia.m4a"],
      ["Grandma Nelson's Story: Willmington 10","gmawillmington10","https://www.dropbox.com/s/rwxfdzhtsmx1yx4/gmawillmington10.m4a"],
      ["Grandma Nelson's Story: High School","gmahighschool","https://www.dropbox.com/s/tmjej4bhoyticyn/gmahighschool.m4a"]]

  - videoList = [["Magnet App Demo Reel", "magnetdemoreel", "https://www.youtube.com/embed/vwkm83U0g0o"]]

  .hundeepiece.stardust
    .fixBottom.aurora
    .container.content
      row
        div.col-md-10.col-md-offset-1
          h2.mainHeader Alexander Hoekje List
          h3.sectionHeader My Work
          .pieces
            for index in [[0,1], [2,3], [4,5]]
              row
                for i in index
                  +piece(list[i])

      row
        div.col-md-10.col-md-offset-1
          h3.sectionHeader Video Clips
          for clip in videoList
            +video(clip)

      row
        div.col-md-10.col-md-offset-1
          h3.sectionHeader Audio Clips
          for clip in audioList
            +audio(clip)

      //- coming soon
      //- row
      //-   div.col-md-10.col-md-offset-1
      //-     h3.center Photos
      //- row
      //-   div.col-md-10.col-md-offset-1
      //-     h3.center Opinions

      row.navIcons
        .col-xs-4.col-xs-offset-2.col-md-2.col-md-offset-4
          a(href='https://linkedin.com/in/alistim')
            .linkedinBG
        .col-xs-4.col-md-2.col-md-offset-0
          a(href='https://twitter.com/alistmit')
            .twitterBG
